/* general ------------------------------------------*/
html, body
{
    height: 100%;
    padding: 5px;
    margin: 0px;
    background-color: #111111;
    color: #888888;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    border-color: yellow;
}

hr
{
    color:#25b;
    border-color: #25b;
    margin-top: 1px;
}

td
{
    padding: 4px;
}

label
{
    font-size: 14px;
    font-weight: normal;
}

a:link /* unvisited link */
{
    color: rgb(43, 116, 253)
}

a:visited /* visited link */
{
    color: rgb(43, 116, 253)
}

a:hover /* mouse over link */
{
    color: rgb(200,130,0);
}

a:active /* selected link */
{
    color: rgb(200,130,0);
}

.flex
{
    display: flex;
    align-items: center;
}

.bigfont
{
  font-size: 30px; /* overridden when in .container below */
}

.title
{
    font-size: 150%;
    color:#25b;
    padding-right: 10px;
}

.modal
{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0; 
    width: 100%;
    height: 100%;
    overflow: auto; /* enable scroll if needed*/
    background-color: rgb(0,0,0,.9);
}

.modal-container
{
    margin: auto;
    display: block;
    width: 85%;
    animation-name: zoom;
    animation-duration: .6s;
}

.modal-content
{
    width: 100%;
    max-width: 1280px;
}

.caption
{
    text-align: center;
    color: #888;
}

.modal-caption
{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    font-size: 40px;
}

.modal-close
{
    position: absolute;
    top: 115px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: .3s;
}

.modal-close:hover,
.modal-close:focus
{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* animation --------------------------------------*/

@keyframes zoom
{
    from {transform:scale(0)}
    to  {transform:scale(1)}
}

@keyframes spin 
{
    100% { transform:rotate(360deg); }
}

@keyframes blinkingRed
{
    0% { color: red; }
    49% { color: transparent; }
    50% { color: transparent; }
    100% { color:red; }
}

.thumbnail
{
    width: 100px;
}

.hoverable
{
    border: 4px solid rgba(0,0,0,0);
}

.hoverable:hover
{
    border: 4px solid green;
}

.invalid
{
    border: 1px solid rgb(200,130,0);
}

/* navbar -------------------------------------------*/
nav
{
    display: flex;
    align-items: center;
    border-bottom: 4px solid black;
    background-color: #222;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 100px; /* This should match .mainlayout top-margin */
    z-index: 10; /* make sure navbar is always above scrolling content */
}

.navtitle
{
    margin-top: 20px;
    float: left;
    font-family: 'IM Fell DW Pica SC', serif;
    color: #f8e6b0; /* color from logo */
    font-size: 44px;
}

.navextra
{
}

#navlogo 
{
    margin-top: 10px;
}

#navlogo > img
{
    width: 60px;
}

nav > div
{
    margin-top: 35px; /* match baseline of logo */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
}

nav .fas
{
    font-size: 32px;
}

nav .fas.primary
{
    font-size: 50px;
}

.nopadX
{
    padding-left: 0px;
    padding-right: 0px;
}

#navtabs /* container for dynamic list of navtab */
{
    display: flex;
}

.navtab
{
    font-size: 20px;
    padding-right: 1em;
}

.navtab.active a
{
    color: green;
    /* text-decoration: overline;*/
    font-weight: bold;
}

.navtab:hover a
{
    color: rgb(122,200,25);
}

.navtab > a
{
    text-decoration: none;
    color: darkgreen;
}

#alert
{
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;  
    left: 50%;  
    bottom: 30px;  
    font-size: 16px;
}

#alert.show
{
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 5s;
}

footer
{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%; /* Full width */
    height: 30px;
    font-size: 14px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #111;
    padding-top: 5px;
    color: #f8e6b085; /* color from logo */
}

#footerpad
{
    width: 100%;
    height: 30px; /* matches footer, ensures that we can scroll to end */
}

/* widget layout --------------------------------------*/
/* learn css grid: https://scrimba.com/g/gR8PTE */

#maincontent
{
    margin-top: 100px;
}

.container
{
    border-left-style: solid;
    border-left-color:#222; /* rgb(1, 25, 49);*/
    border-left-width: 5px;
}

.gridded
{
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 0fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    /* grid-auto-flow: row/dense */
}

.containerrow
{
    grid-column: 1/-1;
    grid-row: span 3;
    display: flex;
    align-items: center;
    padding-top:5px;
    padding-bottom:0px;
}

.nopointer
{
    pointer-events: none;
}

.yespointer
{
    pointer-events: all;
}

.xtrapad
{
    padding-top:10px;
    padding-bottom:10px;
}

.fullheight
{
    height: 100%; /* nb: prevents scrolling */
}

.container > div
{
    background-color: #222;
    align-items: center;
    vertical-align: baseline;
    padding: 0px; /* was 5, 0 is tighter */
}

.container strong
{
    color: #aaa;
}

.container .bigfont
{
    font-size: 20px;
    vertical-align: baseline;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
}

.references
{
    font-size: 14px;
    margin: 10px;
}

/* widgets -------------------------------------------*/
input:focus,
input:hover,
select:focus,
select:hover
{
    outline: 1px solid rgb(136, 128, 24);
}

button
{
    color: #ccc;
    background-color: #111;
    border-color: rgb(30, 30, 40) rgb(25,25,40) rgb(30,30,40);
    border-style: solid;
    border-width: 0px;
    height: 30px;
    width: 100px; 
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px
}

button:hover
{
    background-color: #242;
}

button:active
{
    background-color: #262;
}

button:focus
{
    outline: none;
}

input,
select
{
    color: #888888;
    background-color: #111;
    padding: 4px 4px;
    margin-left: 5px;
    border-radius: 5px;
    border: 0px;
    font-size: 14px;
}

input[type="number"]
{
    width: 80px;
    text-align: center;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

input[type="checkbox"]
{
    margin-top: 5px;
}

input[type="text"]
{
    /* margin-top: 5px; */
}

.cameraViewImg
{
    width: 640px;
    height: 480px;
    background-color: black;
    margin: 10px;
}

#streamStatus
{
}
